@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Monoton');
body{
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
.width{
  width: 100%;
  text-align: center;
  margin: auto;
}
/* NOTE: Prevent default style sheet */
.container-fluid {

    padding-right: 0px;
    padding-left: 0px;
  }
  .bg-dark {
    background-color: rgba(0,0,0,0)!important;
}
.row{
  margin-right: 0px;
margin-left: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
a{

  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: white;
}
  /* NOTE: ENd default */


.upperSectionIntro{

  background:
  linear-gradient(
    rgba(128, 124, 116, 0.45),
    rgb(0, 0, 0)
  ),url(icon/headerPicture.jpeg) no-repeat center center fixed;


    background-size: cover;
    background-attachment: fixed;
}

.intro{

  margin: 0 auto;
  text-align: center;
}
.myImage{
  margin-top: 40px;
  width: 190px;
  height: 190px;
  border: 5px solid black;
  border-radius: 50%;


}
.myName{
  color: white;
}
/* NOTE: End main intro */

.myService{
  text-align: center;
  margin: 0 auto;
}

.serviceH{
  margin-top:15px;
  margin-bottom: 15px;


}

/* NOTE: Work on box */

.box{

  border: 2px solid black;


  margin: 4px;

}


.webDevelopment{

  background: #3d0021;
  color: white;
  text-align: center;
  margin: 0 auto;



}
.imageGalary{
  margin: 0 auto;
}

.imgPad{
  padding: 12px;
  margin: 1px;
}
/* NOTE: Set image with on web DEsign sample  */
.imgWebWidth{
    width: 300px;
    height:  150px;
    margin-top: 5px;
    border: 1px solid white;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

/* NOTE: Bluring the image */

.webImageBlur{
  filter: blur(4px);
}
/* NOTE: Box showing */
.showingBoxWeb{


  display: none;
  position: absolute;

  top: -400px;
  left: 190px;


}
.showingBoxWe{
  width:900px;height:400px;border-radius: 2%;  box-shadow: 1px 1px 1px 1px #ccc;
}

/* NOTE: Image pagination */

.paginationImg{

  text-align: center;
  background: #dddddd;
  border-radius: 45%;
  padding: 5px 11px;
}
.paginationImg:hover{
  background: black;
  color: white;
  text-decoration: none;
  cursor: alias;
}

.img-thumbnail0{
  margin-bottom: 15px;
}

/* NOTE: Social icon */




/* NOTE: For web DEv Page */
nav{
  position: relative;
  width: 100%;
  padding: 0 100px;
/*  background: #303030; */
  box-sizing: border-box;
}
nav ul{
  position: relative;
  text-align: center;
  padding: 0;

  margin: auto;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{

  display: block;
  color: white;
  padding: 20px;
  font-family:'Righteous', cursive;
  font-weight: bold;
}

nav ul li a:hover{
  background: #e0d61f;
  color: black;


}

/* NOTE: Menu button */
.menuBtDiv{

  width: 100%;
  box-sizing: border-box;
  display: none;
  padding: 20px;
  padding-bottom: 35px;
  padding-top: 8px;

}

.mButton{
  background: #e0d61f;
  float: right;
  padding: 5px;
  cursor: pointer;
}

.show{
  display: block;

}
/* NOTE: End menu */

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.main{

    width: 100%;

}
.nameBig{
  height: 100vh;
   background:#ffe20c;
   background-attachment: fixed;
}

.nameTag{

    /* :font-family:'Righteous', cursive;  */
    font-family: 'Monoton', cursive;
    font-size: 150px;
    text-align: center;

}
.myImageTwo{
  margin-top: -40px;
  width: 190px;
  height: 190px;
  border: 5px solid black;
  border-radius: 50%;
}

.buttonDesign{

  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonDesign:hover{

    background: black;
    color: white;


}

.web{
  font-family:'Righteous', cursive;
}
.webExample{
  width: 100%;

}
/* NOTE: DEsign colum */
.oneColum{
  width: 33%;
  float: left;
  cursor: pointer;
}
.twoColum{
  width: 34%;
  font-weight: lighter;
  text-align: center;
  font-size: 26px;
  float: left;
}
.child,.child2{
  background:black;
  color:white;
   width:150px;
    height:150px;
    position: absolute;
    display: none;
    bottom: 50px;
    left: 150px;

}

/* NOTE: Mobile devices for web dev */
@media (max-width:720px) {

      .menuBtDiv{
        display: block;
      }

      nav{

        padding: 0px;

      }
      nav ul{

        float: none;
        display: none;
      }
        nav ul li{
          display: block;

        }
      nav ul li a{
        padding: 10px;
        text-align: center;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: #c9222a;
        color: black;

      }
      .logoMain{


        margin: 6px;
      }

}
