body{
  margin: 0;
  padding: 0;
}
/* NOTE: Prevent default style sheet */
.container-fluid {

    padding-right: 0px;
    padding-left: 0px;
  }
  .bg-dark {
    background-color: rgba(0,0,0,0)!important;
}
.row{
  margin-right: 0px;
margin-left: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
a{


}
  /* NOTE: ENd default */


.upperSectionIntro{

  background:
  linear-gradient(
    rgba(128, 124, 116, 0.45),
    rgb(0, 0, 0)
  ),url(icon/headerPicture.jpeg) no-repeat center center fixed;


    background-size: cover;
    background-attachment: fixed;
}

.intro{

  margin: 0 auto;
  text-align: center;
}
.myImage{
  margin-top: 40px;
  width: 190px;
  height: 190px;
  border: 5px solid black;
  border-radius: 50%;


}
.myName{
  color: white;
}
/* NOTE: End main intro */

.myService{
  text-align: center;
  margin: 0 auto;
}

.serviceH{
  margin-top:15px;
  margin-bottom: 15px;


}

/* NOTE: Work on box */

.box{

  border: 2px solid black;


  margin: 4px;

}


.webDevelopment{

  background: #3d0021;
  color: white;
  text-align: center;
  margin: 0 auto;


}
.imageGalary{
  margin: 0 auto;
}

.imgPad{
  padding: 12px;
  margin: 1px;
}
/* NOTE: Set image with on web DEsign sample  */
.imgWebWidth{
    width: 300px;
    height:  150px;
    margin-top: 5px;
    border: 1px solid white;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

/* NOTE: Bluring the image */

.webImageBlur{
  filter: blur(4px);
}
/* NOTE: Box showing */
.showingBoxWeb{


  display: none;
  position: absolute;

  top: -400px;
  left: 190px;


}
.showingBoxWe{
  width:900px;height:400px;border-radius: 2%;  box-shadow: 1px 1px 1px 1px #ccc;
}

/* NOTE: Image pagination */

.paginationImg{

  text-align: center;
  background: #dddddd;
  border-radius: 45%;
  padding: 5px 11px;
}
.paginationImg:hover{
  background: black;
  color: white;
  text-decoration: none;
  cursor: alias;
}

.img-thumbnail0{
  margin-bottom: 15px;
}
